<div>
    <div class="row">
        <div class="col-sm-2 col-md-2 ">
            <img class="profile-pic " alt="User Image Preview" src="{{vm.pic_url}}/user_pic/{{review.image_source}}" />
        </div>
        <div class="col-sm-10 col-md-10">
            <div>
                <strong>{{review.name}} </strong>
                <span style="font-size: 11px;"><i class="alignright">{{review.date}} | {{review.time}}</i></span>
            </div>
            <br>
            <div class="justified">
                <h6 class="justified" ng-bind-html="review.text | addHtmlLineBreaks"> </h6>
            </div>
            
        </div>
        
        <div ng-controller='replyDirectiveCtrl as repvm'>
            <div ng-show='repvm.addReply'>
                <form>
                    <div class="form-group">
                        <div class="alert alert-danger" role='alert' ng-show='repvm.formError'>{{repvm.formError}}</div>
                    </div>

                    <div class="form-group" ng-hide="repvm.isLoggedIn">
                        <div class="alert alert-danger" role='alert' ng-show='vm.formError'>{{vm.formError}}</div>
                        <input type="text" ng-model='repvm.replyData.name' class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" ng-model='repvm.replyData.text' placeholder="Enter Reply" name="replyText" id="replyText"></textarea>
                    </div>
                    <button class="btn-success" type="submit" ng-click="repvm.postReply(0,review._id, 0, 0)">Post</button>
                    <button class="btn-danger" ng-click="repvm.cancelReply()">Cancel</button>
                </form>
                <!-- <textarea ng-model='vm.reviewText' rows= 5 cols = 40></textarea> -->
            </div>

            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <button ng-hide='repvm.addReply' class="btn-secondary btn-sm" ng-click='repvm.onReplyClick(review._id)'>Reply</button>
                </div>
                <div class="col-md-3 col-sm-3">
                   <button class="btn-danger btn-sm" ng-show=vm.isLoggedIn ng-click="vm.onDeleteClick(review._id)">Delete </button>

                </div>
            </div>

        </div>
        <div class="container">
            <div class="container">
                <div ng-repeat="reply in review.replies">
                    <reply-directive reply='reply'></reply-directive>
                </div>
            </div>
        </div>
    </div>
</div>
