
<div  class="blogTextArea">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img class="profile-pic "  alt="User Image Preview" src="{{repvm.pic_url}}/user_pic/{{reply.image_source}}" />
        </div>
        <div class="col-sm-10 col-md-10 just">
                <div>
                    <strong>{{reply.name}} </strong> 
                    <span style="font-size: 11px;" class="alignright"> <i>{{reply.date}} | {{reply.time}}</i></span>
                </div>
                   <br>
                   <div class="justified">
                       <h7 ng-bind-html="reply.text | addHtmlLineBreaks"></h7>
                   </div>
                    
            <div ng-show='repvm.addReply'>
                <form>
                    <div class="form-group">
                        <div class="alert alert-danger" role='alert' ng-show='repvm.formError'>{{repvm.formError}}</div>
                    </div>
                    <div class="form-group" ng-hide="repvm.isLoggedIn"> 
                        <input type="text" ng-model='repvm.replyData.name' class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" ng-model='repvm.replyData.text' placeholder="Enter Reply" name="replyText" id="replyText"></textarea>
                    </div>
                    <button class="btn-success" type="submit" ng-click="repvm.postReply(reply._id,reply.reviewid, reply.level+1, reply.parentid)">Post</button>
                    <button class="btn-danger" ng-click="repvm.cancelReply()">Cancel</button>
                </form>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <button type="button" class=" btn-secondary btn-sm" ng-hide='repvm.addReply' ng-click='repvm.onReplyClick()'>
                Reply
            </button>
        </div>
        <div class="col-sm-3 col-md-3">
            <button type="button" class=" btn-danger btn-sm" ng-show=repvm.isLoggedIn ng-click="repvm.onDeleteClick(reply.reviewid, reply._id)">
                Delete
            </button>
        </div>
    </div>
</div>
    <div style="margin-left: 5%;">
        <div ng-repeat="r in reply.replies">
            <reply-directive reply='r'></reply-directive>
        </div>
    </div>
</div>
