<div class="modal-content">
    <div class="modal-header">
        <h5 id="modal-title">Cookies</h5>
    </div>
    <div class="modal-body justified">
        <h6>This website uses cookies to provide you with the best viewing experience. Our cookies and privacy policies can be viewed <a href='/privacy-policy' target="_blank"><u>here</u></a>. By using this website you agreeing to the use of our cookies and privacy policies.</h6>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-secondary" style="width: 40%;" ng-click='cookvm.modal.accept()'>Yes</button>
        <button ng-click='cookvm.onCancel()' class="btn btn-secondary" style="width: 40%;">No</button>
    </div>
</div>
