/*reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: Helvetica;
    /*background-color: #f5f5f5;*/
}

body {
  padding: 0px;
  min-height: 100%;
  background-color: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  /*background-color: #FF0000;*/
}
a:hover{
  color: darkgrey;
}

.alignleft{
  float: left;
}

.alignright{
  float: right;
}

.search-page{
  font-family: "calibri";
  font-size: 16px;
  font-weight: bold;
}


.contactBox {
  border: 1px solid gray;
  border-radius: 1%;
  margin: 50px;
  padding: 100px 50px 50px 50px;
}

.search-page-box {
  border: 1px solid black;
  /*border-radius: 1%;*/
  margin: 10px 0 0 0;
  padding: 10px 20px 20px 20px;
}

.blogTextArea {
  border: 1px solid black;
  border-radius: 0%;
  height: auto;
  width: 100%;
  
  text-align: justify;
  margin: 10px 0 0 0;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;*/
  word-break: normal;
  /*word-break: break-all;*/
  /*max-width: 100%*/
}
.blogTextArea  img{
    width: 100%;
  }

.profile-pic {

  /*border: 5px solid green;*/

  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  /*object-fit:contain;*/
}

.blog-header {
  display: flex;
}

/* to display the modal */
.modal.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.7;
  /*opacity: $modal-backdrop-opacity; (SCSS) */
}

.modal-dialog {
  position: relative;
  /*margin-left: 20px;*/
  min-width: 100%;
  margin-top: 0px;
  /*max-height: 5%;*/
  /*top: 5%;
  left: 20%;*/
  /*z-index: 1050;*/
/*  width: 100%;
  height: 50%;*/
  /*margin-left: -10%;*/
}


.modal-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*justify-items: right;*/
}

.cookies-modal{
  position: relative;
  min-width: 100%;
  margin-top: 0px;
}
/*to display the blogs as tiles*/
.blog-tile {
  border: 2px solid gray;
  padding: 5%;
  /*border-radius: 5px;*/
  box-shadow: 0 0 4px lightgray;
  margin: 5px;
  display: inline-block;
  text-align: center;
  width: 100%;
  word-break: break-all;
}

/*blog card styles*/

.blog-card-wrapper {
  /*width: auto;*/
  /*min-width: 400px;*/
  /*display: flex;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  width: 97%; 
  height: 100%; 
  background-color: lightgrey;
  /*margin:10px 10px 10px 10px;*/
  margin: 10px auto;
}


/*for navigation brand*/
.navbar-brand {
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.navbar-brand small {
  display: block;
  font-size: 12px;
  /*font-family: comic;*/
}

/* HOME PAGE BOXES   */
.homepage-box {
  background-color: lightgrey;
  width: 100%;
  /*height: 100%;*/
  height: 430px;
  /*padding:50px;*/
  margin: 10px auto;
}


  

.homepage-inner-box{
  background-color: darkgrey;
  width: 100%;
  /*height: auto;*/
  padding: 10%;
  /*margin: 10%;*/
}

/*.homepage-carousel-img {
  width: 100%;
  height: 100%;
}*/
.carousel {
  /*border-radius: 50%;*/
  height: 90%;
  padding: 5%;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 10;
  left: 50;

}

.footer-wrapper {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
}

/*hr line*/
.homepage-title-line {
  width: 80%;
  line-height: 40px;
  margin-bottom: 10px;
  border-top: 2px solid black;
}

/*Home page: Money Saving title*/
.money-saving-links {
  background-color: lightgrey;
  height: 350px;
  margin: 10px auto;
  padding: 20px;
}

/*Home page: money saving tips*/
.money-saving-tips {
  background-image: url("https://cdn-images-1.medium.com/max/1000/1*MATmfgksq8jHI7hLdVytfw.jpeg");
  background-size: 400px;
  background-color: darkgrey;
  width: 90%;
  height: 100px;
  margin: 10px;
  padding: 20px;

}

/*homepage: useful tools: 6tips*/
.tip-button {
  margin-top: 10px;
  font-size: 20px;
  width: 100%;
  background-color: white;
  opacity: 0.7;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 0px;
}

.tip-button:hover {
  background-color: gray;
  color: white;

}

/*to keep footer at the bottom, set the height of id=top-container which contain ng-view*/

#top-container {
  min-height: 80%;
}

/*banner for each page*/
.top-banner {
  font-size: 16px;
  text-align: center;
  background-color: lightgray;
  padding-top: 8px;
  height: 40px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 10px;
}

.heading {
  font-weight: bold;
  font-size: 16;
}

.justified {
  text-align: justify;
}

.iframe-loading{
  background-image: url("https://media0.giphy.com/media/11FuEnXyGsXFba/source.gif");
  background-position :center;
}

/*.blog-content-image img{
    width: 100%;

}*/


@media only screen and (max-width: 700px){

}
