<div>
    <h1>
       About Us
    </h1>
    <br><br>
    <div class="jumbotron justified">
    	Imagine, you could find some extra money while you are doing your everyday chores. This could be while you are mowing your lawn, or emptying your dishwasher or preparing your meal for that matter. How would you feel? 
    	It could be a pineapple or a greenback or somedays it might just be some shrapnels.  
    	This is real money we are talking about here.

    	Would you let it go?  Would you reach out and grab it? What would it mean to you? What could you do with it? And if you could get it every day, what would that mean to you? Would it still be equally as valuable to you?

    	I do recall reading somewhere money doesn’t buy happiness. Absolutely blatant lie I say. Money is happiness

    	At findmemoney.com.au we are all about money. We are about happiness that you can enjoy by having money. 
    </div>
</div>