<div>
    <div class="top-banner">
        {{vm.title}} : <small>Welcome to {{vm.title}}</small>
    </div>
</div>
<div ng-show="vm.isLoggedIn"><a  href="/blog/:blogId/new" class="btn btn-secondary">Create a Blog</a></div>
<!-- <div><button class="button btn btn-primary" ng-click="vm.clearStorage()">Clear Local Storage</button></div> -->
<!-- <div><button class="button btn btn-primary" ng-click="vm.clearLocalStorage()">Clear Local Storage</button>&nbsp;<button class="button btn btn-primary" ng-click="vm.clearSessionStorage()">Clear session Storage</button></div> -->

<div class="blog-card-wrapper">
    <div ng-repeat="blog in vm.blogList">
            <blog-card-directive blog='blog'> </blog-card-directive>
    </div>
</div>
<div class="">
    <h2> {{vm.errorMessage}}</h2>
</div>