<div>
    <div class="top-banner">
        {{vm.title}} : <small>Welcome to {{vm.title}}</small>
    </div>
    <div>
        <span ng-show="vm.isLoggedIn"><br><button class="btn btn-danger" ng-click="vm.deleteBlog(vm.blog._id, vm.blog.image_source)">Delete the blog</button>
            <button class="btn btn-warning" ng-click="vm.editBlog(vm.blog._id)">Edit the blog</button> </span>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-12">
				<div class=" blogTextArea">
                <h2 align="center"> {{vm.blog.title}}</h2>
                <h6 align="center">{{vm.blog.description}}</h6>
                <h6 ng-bind-html="vm.blog.content  | addHtmlLineBreaks"></h6>
            </div>
            <div>
                <h4 class="btn-secondary">Comments</h4>
            </div>
				
            <div ng-repeat="review in vm.blog.reviews">
                <!-- <div class="row"> -->
                    <div class="blogTextArea">
                        <review-directive review='review'> </review-directive>
                    </div>
                <!-- </div> -->
            </div>
            <div ng-controller='reviewCtrl as revvm'>
                <button class="btn btn-secondary" ng-click="revvm.onReviewButonClick()">Add Comment</button>
                <div ng-show="revvm.reviewButtonClicked">
                    <form>
                        <div class="form-group">
                            <div class="alert alert-danger" role='alert' ng-show='revvm.formError'>{{revvm.formError}}
                            </div>
                        </div>
                        <div class="form-group" ng-hide="revvm.isLoggedIn">
                            <input type="text" ng-model='revvm.reviewData.name' class="form-control" placeholder="Enter name" cols="50">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" ng-model='revvm.reviewData.text' placeholder="Enter Comments" name="reviewText" id="reviewText" rows="10" cols="50"></textarea>
                            <br>
                            <button class="btn-sm btn-success" type="submit" ng-click="revvm.onSubmit()">Post</button>
                            <button class="btn-sm btn-danger" ng-click="revvm.cancelReview()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 ">
            <div class="search-page-box">
                <div ng-repeat="blog in vm.blogList">
                    <h6>
                        <a href="/blog/{{blog._id}}">{{blog.title}} {{blog.date}}</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    
</div>
