<html>
<h1>This is link 1</h1>
<h2>Calculator 1</h2>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="principal"><strong>Principal</strong></label>
                <input class="form-control" placeholder="0" ng-model="vm.p">
            </div>
            <div class="form-group">
                <label for="interest"><strong>Annual Interest</strong></label>
                <input class="form-control" placeholder="0.0" ng-model="vm.r">
            </div>
            <div class="form-group">
                <label for="time"><strong>Time</strong></label>
                <input class="form-control" placeholder="0" ng-model="vm.t">
            </div>
            <div class="form-group">
                <label for="number"><strong>Number of times compounded</strong></label>
                <input class="form-control" placeholder="0" ng-model="vm.n">
            </div>
            <div class="button btn btn-success" ng-click="vm.onClick()">enter</div>
        </div>
        <div class="col-md-8">
            <h2>Compound Interest Calculator</h2>
            <div ng-show="vm.click">
                <canvas class="chart chart-bar" id="bar" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options" chart-dataset-override="vm.datasetOverride">
                </canvas>
            </div>
        </div>
    </div>
</div>

</html>
