<html>

<body>
    <div class="container" >
    
    <div class="container" style="margin-top: 50px;">
        <h1>Edit blog</h1>
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
        <form action="", method="post", role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input ng-model="vm.blog.title" type="text" class="form-control" name="title" size="15" value="hello">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input ng-model="vm.blog.description" type="text" class="form-control" placeholder="Enter description" name="description">
            </div>
            <div class="form-group">
                <label for="image_url">Enter URL:</label>
                <input type="url" ng-model="vm.blog.image_source" class="form-control">                
            </div>
            <br>
            <div class="form-group">
                <label for="content">Content</label>
                <textArea ng-model=vm.blog.content class="form-control" name="content", placeholder="content" rows="10">
                </textArea>
            </div>
            <a class="btn btn-primary" href="/blog/{{vm.blog._id}}">Cancel</a>
            <button type="button" class="button btn btn-success" ng-click="vm.submitEdit()">Submit</button>
        </form>
    </div>

</div>
</body>

</html>