<div>
    <div class="top-banner">
        {{vm.title}} : <small>Welcome to {{vm.title}}</small>
</div>
    <!-- <div class="row"> -->
    <div class="row">
        <div class="col-md-6 ">
            <div class="homepage-box">
                <div id="firstCaraousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="blog in vm.blogList">
                            <blog-card-directive blog='blog'> </blog-card-directive>
                        </div>
                    </div>
                    <div class="carousel-control-prev" href="#firstCaraousel" role="button" data-slide="prev" target="_self">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </div>
                    <div class="carousel-control-next" href="#firstCaraousel" role="button" data-slide="next" target="_self">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="homepage-box" style="padding: 50px 30px;">
                <div class="justified">
                    <p><strong>Imagine you could find some extra money while doing everyday chores.</strong></p>
                    <p>This could be while you are mowing your lawn, or emptying your dishwasher or preparing your meal for that matter.
                        How would you feel?</p>
                    <p>It could be a pineapple or a greenback and on somedays it might just be some shrapnel. It is not luck we are talking
                        about here, not when it happens everyday. This is real money we are talking about here. Would you let it go? Would
                        you reach out and grab it? What would it mean to you? What could you do with it?
                        And if you could get it every day, what would that mean to you? Would it still be equally as valuable to you? I do
                        recall reading somewhere money doesn’t buy happiness.
                        <br>
                        Absolutely blatant lie I say.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="homepage-box justified" style="padding: 50px 30px;">
                <p><strong>Make sure you don't loose what you already have while chasing what you could have, unless it is really worth having.</strong></p>
                
                <div class="homepage-inner-box">
                    <p><strong>Keep Things Simple</strong><p>
                    <div class="homepage-title-line"></div>
                    <p>01. Take measure of what you currently have.</p><br>
                    <div class="homepage-title-line"></div>
                    <p>02. Estimate what you could have.</p><br>
                    <div class="homepage-title-line"></div>
                    <p>03. Weigh up what is not worth risking.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="homepage-box justified" style="padding: 50px 30px;">
                <p><strong>Money is happiness.</strong></p>
                <p>At findmemoney.com.au we are all about money.
                    We are about happiness that you can enjoy by having money.</p>
                <p>If you would like to know more about our money philosophy subscribe to our newsletter by clicking the link below.</p>
                <form>
                    <div class="form-group">
                        <div class="alert-danger" ng-show=vm.formError>{{vm.formError}}</div>
                        <label for="name">Name</label>
                        <input ng-model="vm.name" type="text" class="form-control" placeholder="Enter your name" size="20">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input ng-model="vm.email" type="email" class="form-control" placeholder="Enter your email" size="20">
                    </div>
                    <button class="btn btn-secondary" ng-click="vm.storeNewsletterEmail()">Submit</button>
                    <!-- <button class="btn btn-primary" ng-click="vm.deleteEmail()">Delete</button> -->
                    <!-- <button class="btn btn-primary" ng-click="vm.getEmailList()">Get List</button> -->
                    <!-- <button class="btn btn-secondary" ng-click="vm.sendEmail()">Send Email</button> -->
                    <!-- <button class="btn btn-secondary" ng-click="vm.signupMailChimp()">MailChimp</button> -->
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <div class="homepage-box" style="padding: 50px 30px;">
                <div class="homepage-title-line">Useful Tools</div>
                <div class="justified">
                    <p>Use these fantastic tools to save your money.</p>
                    <p>Be smart. Don't throw your money down the drain.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="blog-card-wrapper homepage-box " style="padding: 30px 30px;">
                <div ng-repeat="tip in vm.tips">
                    <homepage-tips-directive tip='tip'></homepage-tips-directive>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   <div class="row">
        <div class="col-md-6 col-sm-6"> -->
<!-- <div class="homepage-box">
                <div id="secondCaraousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                        <div class="active carousel-item ">
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Third slide">
                        </div>
                    </div>
                    <div class="carousel-control-prev" href="#secondCaraousel"  data-slide="prev" target="_self">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </div>
                    <div class="carousel-control-next" href="#secondCaraousel"  data-slide="next" target="_self">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </div>
            </div> -->
<!-- </div> -->
<!-- </div> -->
