<div class="container">
    <div class="col-md-6">
        <h1>Please login</h1>
        <form>
            <div class="alert alert-danger" role="alert" ng-show="vm.formError">{{vm.formError}}</div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input for="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email"></input>
            </div>
            <div class="form-group">
                <label for="passwore">Password</label>
                <input class="form-control" type="password" ng-model="vm.credentials.password" placeholder="Password">
            </div>
            <button class="btn btn-success" type="submit" ng-click="vm.onSubmit()">Sign in</button>
        </form>
    </div>
</div>