<html>
<body>
        <div class="container" style="margin-top: 50px;">
            <h1>Create a blog</h1>
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
            <ng-form role="form">
            <div class=" form-group">
                <label for="title">Title</label>
                <input ng-model="vm.formData.title" type="text" class="form-control" placeholder="Enter the title" name="title" size="15">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input ng-model="vm.formData.description" type="text" class="form-control" placeholder="Enter description" name="description">
        </div>
        <div>
            <!-- <input type='file' fileread='vm.uploadme' /> -->
            <!-- <img src='{{vm.uploadme}}' width="100" height="50" alt="Image preview..."> -->
            <label for="image_url">Enter URL:</label>
            <input type="url" ng-model="vm.image_source" class="form-control">
            <br/>
        </div>


        <div class="form-group">
            <label for="content">Content</label>
            <textArea ng-model="vm.formData.content" class="form-control" name="content" , placeholder="content" rows="10"></textArea>
        </div>
        <a class="btn btn-primary" href="/money-finders-musings">Cancel</a>
        <button type="submit" class="button btn btn-success" ng-click="vm.onSubmit()">Submit</button>
        </ng-form>
    </div>
    </div>
</body>

</html>