<div class="container">
    <h1>Welcome to {{vm.title}}</h1>

<div class="row">

    <div class="col-md-6">
        <div class="alert alert-danger" ng-show="vm.formError">{{vm.formError}}</div>
        <div class="form-group">
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
            <label for="password">Passowrd</label>
            <input class="form-control" type="password" ng-model="vm.credentials.password">
        </div>
        <button class="btn btn-success" ng-click=vm.onSubmit()>Register</button>
        <a class="button btn btn-warning" href="/">Cancel</a>
    </div>

</div>

</div>