<div>
    <div class="top-banner">
        {{vm.title}} : <small>Welcome to {{vm.title}}</small>
    </div>


    <div class="search-page-box" >
        <div class="container search-page justified">
            <br>
            ASIC moneysmart unclaimed money search has been provided for general use with consent from ASIC. Use of ASIC moneysmart unclaimed money search is at your risk. Users are encouraged to familiarise themselves with moneysmart privacy policy and any other site terms before using the moneysmart tools and search engines.
            Findmemoney makes no representation about any data entered or retrieved from ASIC moneysmart website. Findmemoney is neither affiliated nor endorsed by ASIC, and the ASIC information has only been provided for easy navigation to the relevant website. The use of this website is on condition that, the user and/or their related party indemnifies findmemoney and/or its affiliate for any loss either caused by use of this site.
            </p>
        </div>
        <div class="iframe-loading">
            <iframe ng-src="{{vm.url}}" height="85%" width="100%" style="border: 1px solid black;"></iframe>
        </div>
        
    </div>
</div>