<div class="modal-content">
    <form role=form>
        <div class="modal-header">
            <h5 id="modal-title">Sign In</h5>
            <button type="button" ng-click='vm.modal.cancel()'>&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="email">Email address </label>
                <input type="email" class="form-control" id="email" placeholder="Enter email address" name="
                name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div>
            <button ng-click='vm.modal.cancel()' class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>