extends layout
block content
    .div
        .blog-header
            .div
                h2 #{pageHeader.title}
                h6 #{pageHeader.description}
                //- form(method="get", action="/blog/new")
                a.btn.btn-success(href='/blog/:blogid/new') Create Blog
            img.profile-pic( src= 'http://images2.fanpop.com/image/photos/9400000/Funny-Cats-cats-9474038-1600-1200.jpg' alt='profile pic ')
        .row( ng-controller='blogCtrl')
            .col-md-9
                .blogTextArea
                    h1(align='center') {{data.blog.title}}
                    h5(align='center') ({{data.blog.description}})
                    h6 {{data.blog.content}} 
                    h1 {{d}} Blog id is : {{data.blog.id}}
                    h3 {{data.blog}}


            .col-md-3
                div(ng-repeat='blog in data.blogs') 
                    h7 
                        a(href="/blog/{{blog.id}}") {{blog.title}} 
                        
                    h7 {{blog.description}} <br><br>
                    


                    
                
