extends layout

block content
    .container
        h1 #{title} Page
        .row
            .col-xs-6
                .container.contactBox  
                    h4 Please Enter your Details
                    form(action="", method="post", role="form")
                        .form-group
                            label(for='name') Name
                            input.form-control(id='name', placeholder='Enter FullName')
                        .form-group
                            label(for='email') Email
                            input.form-control(id='email',placeholder='Enter email address',
                            type='email')
                        .form-group
                            textArea.form-control( placeholder='Message', rows = '10')
                        
                        button.btn.btn-success.btn-block(href="/contacts") Submit
