doctype html5
html(ng-app="findMoneyApp")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/node_modules/angular/angular.min.js')
    script(src='/node_modules/angular-route/angular-route.min.js')
    
    script(src='/javascripts/jquery-1.11.1.min.js') 
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    .nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Find Me Money
                
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/allBlogs') All Blogs
                li.nav-item
                    a.nav-link(href='/about') About
            
            ul.navbar-nav.navbar-right
                li.nav-item
                    a.nav-link(href='/contact/') Contact Us
                
            
        
                    
    .container
        .ng-view
            block content
            
        footer
            .row
                .col-xs-12
                   strong &copy; findMoneyApp
    
    
   
    //script(src='/angular/findMoney.js')
    script(src='/app.js')
    script(src='/controllers/home.controller.js')
    script(src='/controllers/blog.controller.js')
    script(src='/common/services/blogData.js')
    
    
