extends layout
block content
    .div
        .blog-header
            .div
                h2 #{title}
                
        .div
            form(action="", method="post", role="form")
                .form-group
                    label(for='title') Title
                    input.form-control(name='title', placeholder='Enter the title of blog', rows='10')
                .form-group
                    label(for='description') Description
                    input.form-control(name='description', placeholder='Enter the description')
                .form-group
                    label(for='content') Content
                    textArea.form-control(name='content', placeholder='content', rows='15')
                
                button.btn.btn-success(href='/blog/new') Submit
                    
                
