<div ng-if='vm.hideNavbar'>
    

<nav class="navbar navbar-expand-md navbar-dark sticky-top " style="background-color: #696969;" >
        <a class="navbar-brand" href="/">
            Find Me Money
            <small>Money Finder Lives Here</small>
        </a>
        <button id="nav-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarDiv" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active">
                    <a class="nav-link btn-outline-secondary" href="/" data-toggle="collapse" data-target=".navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/search-page" data-toggle="collapse" data-target=".navbar-collapse.show">Money Search Engine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/money-finders-musings" data-toggle="collapse" data-target=".navbar-collapse.show">Money Finders Musings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/calculators" data-toggle="collapse" data-target=".navbar-collapse.show">Calculators</a>
                </li>
            </ul>
        </div>
        <!-- <ul class="nav navbar-nav navbar-right"> -->
            <!-- <li ng-hide="vm.isLoggedIn"><a href="/login/?page={{vm.currentPath}}">Sign in</a></li> -->
            <li ng-show="vm.isLoggedIn" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{vm.currentUser.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <a href="" ng-click="vm.logout()">
                        <li>Logout</li>
                    </a>
                </ul>
            </li>
</nav>

</div>