<div class="card card-body" style="height: 300px;">
    <a class="btn btn-lg btn-secondary" href="/blog/{{blog._id}}" style="height: 300px;">
        <img class="card-image-top" width="70%" height="140px" src="{{blog.image_source}}" alt="cat image here">
        <h4 class="card-title">{{blog.title |limitTo:30}}{{blog.title.length > 30 ? '...' : ''}}</h4>
        <!-- <p class="card-text">{{blog._id}}</p> -->
    </a>
</div>
